.search{
   padding: 10px;
}
.search-input{
    margin-bottom: 10px;
}
.search-btn{
    margin-right: 5px;
}
.detail{
    margin-top: 10px;
}
.browser{
    width: 100px;
}
.message{
    word-break: break-all;
}
.interface-title{
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    margin-bottom: 16px;
}
.interface-info {
    padding: 16px;
}
.interface-row {
    margin-bottom: 16px;
}
.breadcrumb{
    margin-bottom: 10px;
}
